Project Admin/Examples/StratcolIntegration/StratcolInterface/Service References/StratcolCodes/integratorCodesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://live.stratcol.co.za/dynamic/administration/serv_manager/sysIntegratorCodes.wsdl" name="integratorCodesService" targetNamespace="https://live.stratcol.co.za/dynamic/administration/serv_manager/sysIntegratorCodes.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://live.stratcol.co.za/dynamic/administration/serv_manager/sysIntegratorCodes.wsdl">
      <xsd:element name="authenticateClient">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="key" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="mode" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="inputList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="list_type" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="outputDesc">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="code" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="description" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="list">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="item" nillable="true" type="tns:outputDesc" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="authenticateClient">
    <wsdl:part name="authenticateClient" element="tns:authenticateClient" />
  </wsdl:message>
  <wsdl:message name="integratorCodesRequest">
    <wsdl:part name="params" element="tns:inputList" />
  </wsdl:message>
  <wsdl:message name="integratorCodesResponse">
    <wsdl:part name="result" element="tns:list" />
  </wsdl:message>
  <wsdl:portType name="integratorCodesPortType">
    <wsdl:operation name="integratorCodes">
      <wsdl:input message="tns:integratorCodesRequest" />
      <wsdl:output message="tns:integratorCodesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="integratorCodesBinding" type="tns:integratorCodesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="integratorCodes">
      <soap:operation soapAction="integratorCodes" />
      <wsdl:input>
        <soap:body use="literal" namespace="urn:live.stratcol.co.za:integratorCodes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        <soap:header message="tns:authenticateClient" part="authenticateClient" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="urn:live.stratcol.co.za:integratorCodes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="integratorCodesService">
    <wsdl:port name="integratorCodesPortType" binding="tns:integratorCodesBinding">
      <soap:address location="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_codes.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>