Project Admin/Examples/CorpSMS/Library/CorpSMSServiceAssembly/Service References/MessageService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/StratCorp.CorpSMS.ServiceLibrary.DataContracts" />
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="SendSingleSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StratCorp.CorpSMS.ServiceLibrary.DataContracts" minOccurs="0" name="smsEntity" nillable="true" type="q1:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSingleSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StratCorp.CorpSMS.ServiceLibrary.DataContracts" minOccurs="0" name="SendSingleSMSResult" nillable="true" type="q2:ArrayOfMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StratCorp.CorpSMS.ServiceLibrary.DataContracts" minOccurs="0" name="smsCollection" nillable="true" type="q3:ArrayOfMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StratCorp.CorpSMS.ServiceLibrary.DataContracts" minOccurs="0" name="SendSMSResult" nillable="true" type="q4:ArrayOfMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendQueuedMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendQueuedMessagesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshDeliveryReport">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshDeliveryReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshCredits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshCreditsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshReplies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshRepliesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshShortCodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshShortCodesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryReports">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/StratCorp.CorpSMS.ServiceLibrary.DataContracts" minOccurs="0" name="GetDeliveryReportsResult" nillable="true" type="q6:ArrayOfDeliveryReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryReportByOriginId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="originId" type="xs:int" />
        <xs:element minOccurs="0" name="uniqueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryReportByOriginIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/StratCorp.CorpSMS.ServiceLibrary.DataContracts" minOccurs="0" name="GetDeliveryReportByOriginIdResult" nillable="true" type="q7:ArrayOfDeliveryReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortCodeMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortCodeMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/StratCorp.CorpSMS.ServiceLibrary.DataContracts" minOccurs="0" name="GetShortCodeMessagesResult" nillable="true" type="q8:ArrayOfMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>