Project Admin/Examples/CorpSMS/Library/CorpSMSServiceAssembly/Service References/MessageService/StratCorp.CorpSMS.ServiceLibrary.DataContracts1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StratCorp.CorpSMS.ServiceLibrary.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StratCorp.CorpSMS.ServiceLibrary.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EncryptedText" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="MessageId" type="xs:int" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginID" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="DeliveryReport">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Message">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageStatus" nillable="true" type="tns:ArrayOfMessageStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeliveryReport" nillable="true" type="tns:DeliveryReport" />
  <xs:complexType name="ArrayOfMessageStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageStatus" nillable="true" type="tns:MessageStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageStatus" nillable="true" type="tns:ArrayOfMessageStatus" />
  <xs:complexType name="MessageStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageStatus" nillable="true" type="tns:MessageStatus" />
  <xs:complexType name="SendMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Message">
        <xs:sequence>
          <xs:element minOccurs="0" name="Failed" type="xs:boolean" />
          <xs:element minOccurs="0" name="FailedReason" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendMessage" nillable="true" type="tns:SendMessage" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="ArrayOfDeliveryReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryReport" nillable="true" type="tns:DeliveryReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeliveryReport" nillable="true" type="tns:ArrayOfDeliveryReport" />
</xs:schema>